.container{
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar{
  object-fit: cover;
  border-radius: 50%;
}

.texts{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title{
  color: gray;
  font-weight: bold;
}

.username{
  font-weight: 500;
}