.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 500px;
  background-color: var(--bgSoft);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}

.github{
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}