.container{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.logo{
  font-weight: bold;
}

.text{
  font-size: 12px;
}

@media (max-width:768px){
  .container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}