.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post {
  width: 30%;
}

@media screen and (max-width: 1280px) {
  .post {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .post {
    width: 100%;
  }
}
