.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input{
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}

.form button{
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--textColor);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}